<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="building_bms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <building_bms.Properties.Settings>
      <setting name="rememberme" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="username" serializeAs="String">
        <value>noori</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="activeStartH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="activeStartM" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="active" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="preactive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="z1" serializeAs="String">
        <value>ورودی</value>
      </setting>
      <setting name="z2" serializeAs="String">
        <value>منشی</value>
      </setting>
      <setting name="z3" serializeAs="String">
        <value>مدیریت</value>
      </setting>
      <setting name="z4" serializeAs="String">
        <value>فنی و IT</value>
      </setting>
      <setting name="z5" serializeAs="String">
        <value>دبیرخانه</value>
      </setting>
      <setting name="z6" serializeAs="String">
        <value>حسابداری</value>
      </setting>
      <setting name="z8" serializeAs="String">
        <value>آبدارخانه</value>
      </setting>
      <setting name="postactive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="preactiveStartH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="preactiveStartM" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="postactiveStartH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="postactiveStartM" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="preactiveFmode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="preactiveEnterLight" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="postactiveHallLight" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="postactiveFmode" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="activeStopH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="activeStopM" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="preactiveStopH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="preactiveStopM" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="postactiveStopH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="postactiveStopM" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="deactiveHolidays" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="deactiveFridays" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="deactive" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="holidays" serializeAs="String">
        <value>1/1,1/2,1/3,1/4,1/11,1/12,1/13,1/25,2/12,3/14,3/15,3/16,3/26,4/18,5/31,6/8,6/28,6/29,8/8,8/16,8/17,9/4,11/20,11/22,12/29</value>
      </setting>
      <setting name="sendTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="extraStartH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="extraStartM" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="extraStopH" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="extraStopM" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="extraTime" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="extraTimeReset" serializeAs="String">
        <value>False</value>
      </setting>
    </building_bms.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
</configuration>